* {
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none !important;
}

h1 {
    color: white;
    font-family: 'CMUSerifRoman';
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
    display: flex;
    position: relative;
    margin-top: 0px;
    margin-left: 12px;
}

h1:hover {
    color: #b1b1b1;
}

h2 {
    font-weight: 300;
    display: flex;
    position: relative;
    justify-content: center;
    top: 16px;
    font-size: 50px;
    text-align: center;
}

.background-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.background-image { 
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 300px;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.map-card {
    width: 100%;
}

.map {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 250px;
}

#restaurant-cards {
    display: flex;
    justify-content: center;
}

.map-card, .rest-cards {
    color: white;
    background-color: rgba(48, 44, 44, 0.7);
    border-radius: 0px;
    border: 2px solid white;
    padding: 20px;
    margin: 10px;
    min-width: 200px;
    flex: 1;
}

.image-div {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.rest-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

#search-bar {
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    min-width: 200px;
    font-size: 18px;
    border-radius: 0px;
    background-color: rgba(48, 44, 44, 0.7);
    padding: 10px;
    gap: 10px;
}

.filter {
    padding: 4px 10px 4px 10px;
    min-width: 240px;
}

.dropdown {
    width: 100px;
    height: 32px;
    padding-left: 6px;
}

.dropdown-label {
    font-size: 24px;
}

.search {
    border-radius: 0px;
    border: 2px solid black;
    height: 36px;
    width: 130px;
    margin: 4px 20px 0px 20px !important;
    padding: 0px;
}
/* SMALL SCREENS */
/* @media screen and (min-width: 360px ) {
     .dropdown-label {
        font-size: 10px;
    }
} */

/* MEDIUM SCREENS */
@media screen and (min-width: 450px) {
    main {
        width: 82%;
        margin: 0px 9% 0px 9%;
    }

    #search-bar {
        width: 80vw;
    }

    .filter {
        min-width: 0px; 
    }
}

/* SEARCH BAR BREAKPOINT */
/* TO DO */
@media screen and (max-width: 540px) {
    .dropdown-label {
        font-size: 22px;
        
    }
    
}

/* DESKTOPS */
@media screen and (min-width: 1200px) {
    main {
        flex-direction: row;
    }

    .map-card, .rest-cards {
        min-width: 220px;
        flex: 1;
    }

    .map-card {
        min-width: 400px;
        min-height: 600px;
        margin-left: 0%;
    }

    .map {
        min-height: 600px; 
    }

    .rest-cards {
        margin: 1%;
    }
}