* {
    font-family: "Mulish", sans-serif;
}

h1 {
    font-family: 'CMUSerifRoman';
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
    display: flex;
    position: relative;
    margin-top: 0px;
    margin-left: 12px;
}

h2 {
    font-weight: 300;
    display: flex;
    position: relative;
    justify-content: center;
    top: 20px;
    font-size: 50px;
    text-align: center;
}

.background-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.background-image { 
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 300px;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.map {
    display: flex;
    position: relative;
    align-items: center ;
    width: 40vw;
    height: 40vh;
}

#restaurant-cards {
    display: flex;
    justify-content: center;
    margin: 0px 30px 0px 30px;
}

.rest-cards {
    color: white;
    background-color: rgba(48, 44, 44, 0.7);
    border-radius: 0px;
    border: 2px solid white;
    padding: 20px;
    margin: 10px;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

#search-bar {
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    min-width: 200px;
    font-size: 18px;
    border-radius: 0px;
    background-color: rgba(48, 44, 44, 0.7);
    padding: 10px;
    gap: 10px;
}

.filter {
    padding: 4px 10px 4px 10px;
}

.dropdown {
    width: 100px;
    height: 32px;
    padding-left: 6px;
}

.dropdown-label {
    font-size: 24px;
}

.search {
    border-radius: 0px;
    border: 2px solid black;
    width: 130px;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 450px) {
    #search-bar {
        width: 80vw;
    }
}