body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: black;
    
}

.background-image {
  
   
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
    object-fit: cover;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
}
h1 {
    font-family:'CMUSerifRoman';
    font-weight: lighter;
    font-style: normal;
    font-size: 70px;
    position: relative;
    top: 200px;
    color: white;
}

h2{
font-family:"Mulish", sans-serif;
position:relative;
top: 200px;
color: white;
}
.italic {
font-style: italic;
}
button
{
    opacity: 0.7;
}

#eatIn-button {
    position: relative;
    width: 400px;
    height: 100px;
    top: 280px;
    color:white;
    font-size: 30px;
    background: none;
    border: 2px solid white;
    
}
#eatIn-button:hover {
opacity: 0.5;
}
#eatOut-button {
    position: relative;
    width: 400px;
    height: 100px;
    top: 290px;
    color: white;
    font-size: 30px;
    background: none;
    border: 2px solid white;
    }
    #eatOut-button:hover {
        opacity: 0.5;
    }