body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: black;
    
}

.background-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.background-image {
    transform: rotate(180deg);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 300px;
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

h1 {
    font-family:'CMUSerifRoman';
    font-weight: lighter;
    font-style: normal;
    font-size: 70px;
    position: relative;
    top: 10vh;
    color: white;
}

h2 {
    font-family:"Mulish", sans-serif;
    position:relative;
    top: 13vh;
    color: white;
    font-size: 24px;
    font-style: lighter;
}

.italic {
font-style: italic;
}

#eatOut-button, #nightOut-button {
    position: relative;
    width: 90vw;
    height: 100px;
    color:white;
    font-size: 20px;
    background: none;
    border: 2px solid white;
}

#eatOut-button:hover, #nightOut-button:hover {
    opacity: 0.5;
}

#eatOut-button {
    top: calc(20vh);
}

#nightOut-button {
    top: calc(20vh + 10px);
}

#zipcode-modal-content, #zipcode-submit-button {
    border: 2px solid black;
    border-radius: 0px;
}

#zipcode-submit-button:hover {
    border: 2px solid #b1b1b1;
    border-radius: 0px;
}

.modal-padding {
    margin: 0px !important;
}

#warning {
    color: red;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 450px) {
    #nightOut-button, #eatOut-button {
        width: 400px;
        font-size: 30px;
    }

    #eatOut-button {
        top: calc(30vh);
    }
    
    #nightOut-button {
        top: calc(30vh + 10px);
    }
}

/* DESKTOPS */
@media screen and (min-width: 687px) {
    h1 {
        top: 15vh;
    }

    h2 {
        top: 18vh;
    }
}
